<h2 mat-dialog-title>{{ data?.id ? 'Редактировать автора' : 'Добавить автора' }}</h2>
<div mat-dialog-content>
  <form [formGroup]="authorForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Введите имя">
      <mat-error *ngIf="authorForm.get('name')?.hasError('required')">
        {{ errorMessages.name.required }}
      </mat-error>
      <mat-error *ngIf="authorForm.get('name')?.hasError('minlength')">
        {{ errorMessages.name.minLength }}
      </mat-error>
      <mat-error *ngIf="authorForm.get('name')?.hasError('maxlength')">
        {{ errorMessages.name.maxLength }}
      </mat-error>
      <mat-error *ngIf="authorForm.get('name')?.hasError('pattern')">
        {{ errorMessages.name.pattern }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Sutname</mat-label>
      <input matInput formControlName="surname" placeholder="Введите фамилию">
      <mat-error *ngIf="authorForm.get('surname')?.hasError('required')">
        {{ errorMessages.surname.required }}
      </mat-error>
      <mat-error *ngIf="authorForm.get('surname')?.hasError('minlength')">
        {{ errorMessages.surname.minLength }}
      </mat-error>
      <mat-error *ngIf="authorForm.get('surname')?.hasError('maxlength')">
        {{ errorMessages.surname.maxLength }}
      </mat-error>
      <mat-error *ngIf="authorForm.get('surname')?.hasError('pattern')">
        {{ errorMessages.surname.pattern }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" placeholder="Введите страну">
      <mat-error *ngIf="authorForm.get('country')?.hasError('required')">
        {{ errorMessages.country.required }}
      </mat-error>
      <mat-error *ngIf="authorForm.get('country')?.hasError('minlength')">
        {{ errorMessages.country.minLength }}
      </mat-error>
      <mat-error *ngIf="authorForm.get('country')?.hasError('maxlength')">
        {{ errorMessages.country.maxLength }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthday">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="authorForm.get('birthday')?.hasError('required')">
        {{ errorMessages.birthday.required }}
      </mat-error>
      <mat-error *ngIf="authorForm.get('birthday')?.hasError('past')">
        {{ errorMessages.birthday.past }}
      </mat-error>
      <mat-error *ngIf="authorForm.get('birthday')?.hasError('minYear')">
        {{ errorMessages.birthday.minYear }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!authorForm.valid">
    {{ data?.id ? 'Save' : 'Add' }}
  </button>
</div> 