<h2 mat-dialog-title>{{ data.id ? 'Edit Author' : 'Add Author' }}</h2>

<div mat-dialog-content>
  <form [formGroup]="authorForm" class="author-form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="authorForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" required>
      <mat-error *ngIf="authorForm.get('surname')?.hasError('required')">
        Surname is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" required>
      <mat-error *ngIf="authorForm.get('country')?.hasError('required')">
        Country is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Birthday</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthday" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="authorForm.get('birthday')?.hasError('required')">
        Birthday is required
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!authorForm.valid">
    {{ data.id ? 'Save' : 'Add' }}
  </button>
</div> 